body.dark
	background-color: $dark
	color: $light

	.jumbotron,
	.form-control
		background-color: lighten($dark, 10%)
		color: $light

	#current-playlist,
	#sidebar
		background-color: $dark
		color: $light

	#sidebar
		border-right: 1px solid darken($dark, 5%)

	.btn-secondary
		background-color: $dark
		color: $red
		&:hover
			background-color: $black
		&:focus
			background-color: $black
			color: $red
			outline: none
			
	&.layout-overlay,
	&.layout-sticker
		#videos-grid 
			article.video
				header
					background-color: rgba($black, .8)
					text-shadow: 0 0 2px $black
	
	.titlebar
		background-color: $dark
		border-bottom: 1px solid darken($dark, 5%)

		.titlebar--controls-wrapper
			> div
				span
					border-color: $light
					background-color: $dark
				&:hover
					background-color: lighten($dark, 10%)
					span
						background-color: lighten($dark, 10%)

				&.titlebar--controls-close
					&:hover
						background-color: $red
					