$grid-gutter-width: 0px

// overide bootstrap colors
$brand-primary: #cd201f
$brand-danger : $brand-primary
$input-border-focus: $brand-primary

$brand-success: #5cb85c

$brand-warning: #f0ad4e


// colors
$black: #272829
$dark: #373839

$white: #f1f2f3
$light: #a1a2a3

$red: $brand-primary
$green: $brand-success
$orange: $brand-warning


// sidebar
$sidebar-width: 55px

// titlebar
$titlebar-height:   38px
$titlebar-controls: 138px
$titlebar-controls-osx: 78px
