// overide bootstrap colors
$brand-primary: #cd201f
$brand-danger : $brand-primary
$input-border-focus: $brand-primary

$brand-success: #5cb85c

$brand-warning: #f0ad4e


// colors
$black: #111
$dark: #272829

$light: #a3a5a3

$red: $brand-primary
$green: $brand-success
$orange: $brand-warning