$grid-gutter-width: 0px

// overide bootstrap colors
$brand-primary: #cd201f
$brand-danger : $brand-primary
$input-border-focus: $brand-primary

$brand-success: #5cb85c

$brand-warning: #f0ad4e


// colors
$black: #151518
$dark: #373839

$white: #f7f8f9
$light: #a3a5a3

$red: $brand-primary
$green: $brand-success
$orange: $brand-warning


// sidebar
$sidebar-width: 55px

// titlebar
$titlebar-height:   38px
$titlebar-controls: 150px
$titlebar-controls-osx: 78px
