a {
    cursor: pointer;
}

.jumbotron {
    margin-top: 15px;
}
.jumbotron #loader {
    width: 75px;
}

.ratio-container {
    position: relative;
}
.ratio-container:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    /* 480:360 = 75.00% = calc(360 / 480 * 100%) */
    padding-bottom: 75.00%;
}
.ratio-container > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#videos-grid article.video img {
    width: 100%;
    height: 100%;
}
#videos-grid article.video img.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

#videos-grid article.video img.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

#videos-grid article.video h5,
#videos-grid article.video h6,
#current-playlist #playlist .playlist-item h5,
#current-playlist #playlist .playlist-item h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#videos-grid article.video h5,
#current-playlist #playlist .playlist-item h5 {
    font-size: 0.9em;
    margin-bottom: .25rem;
}
#videos-grid article.video h6,
#current-playlist #playlist .playlist-item h6 {
    font-size: 0.7em;
}

#current-playlist #playlist .playlist-item {
    margin-top: 1.5em;
}

#current-playlist {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 780px;
    height: 270px;
    background-color: white;
    box-shadow: -6px -4px 15px -2px rgba(0,0,0,0.75);
}

#current-playlist #playlist {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    overflow: auto;
}

#current-playlist #playlist .playlist-item {
    padding: 10px;
}

#current-playlist #current-video {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 480px;
    height: 100%;
    background-color: black;
}